/* css reset | yojeero */
*,::after,::before{box-sizing:border-box}*{margin:0}body,html{height:100%}body{line-height:1.5;min-height:100vh}canvas,img,picture,svg,video{display:block;max-width:100%}h1,h2,h3,h4,h5,h6,p{overflow-wrap:break-word}button,input,select,textarea{font:inherit}ol[role=list],ul[role=list]{list-style:none}

/* main  */

body
{
	font-family : 'Jost','Segoe UI','Helvetica Neue', system-ui;
	font-size : 1rem;
	font-weight : 400;

	transition : all .5s ease-in-out;
	transition : color 1s;

	letter-spacing : 1px;
	text-shadow : #fff 0 1px 0;

	background-color: #f1f1f1;
}

.container
{
	z-index : 1;

	display : flex;
	align-items : center;
	justify-content : center;

	width : 100%;
	height : 100%;

	background : 
	url(../img/tree.png) no-repeat right bottom,
	url(../img/flock.svg) no-repeat left 12vw top 6em;
	background-size : 40%, 14%;
}

.player
{
	z-index : 999;

	display : flex;
	align-items : center;
	flex-direction : column;

	/* width : 320px;
	height : 680px;  */

	width : 20rem;
	height : 42.5rem;

	margin : 0;
	padding : 0;

	transition : all .5s ease-in-out;

	border : 1px solid #f4f4f4;
	border-radius : 40px;

	background : #f1f1f1;
	box-shadow : -6px -6px 22px #fff, 6px 6px 24px #d0d0d0;
}

.player:hover
{
	box-shadow : -3px -3px 7px #fff, 3px 3px 9px #d0d0d0;
}

.top-color
{
	display : flex;
	align-items : center;
	justify-content : space-between;

	width : 100%;
	height : 3.125rem;

	margin : 0;
	padding : 0 2rem;

	border-top-left-radius : 40px;
	border-top-right-radius : 40px;

	background : #f4f4f4;
}

.code svg
{
	display : flex;

	width : 1.25rem;
	height : 1.25rem;

	cursor : pointer;
	transition : all .3s ease;

	color : #bfbc8a;

	fill : currentColor;
	stroke : currentColor;
	stroke-width : 0;
}

.code svg:hover
{
	color : #00b4d8;
}

.speaker
{
	display : flex;

	width : 3.75rem;
	height : .375rem;

	margin : auto;

	border-radius : 20px;
	background : #f4f4f4;
	box-shadow : inset 0 1px 1px #cecece, 1px 1px 0 #fff;
}

.point a
{
	display : flex;

	width : .65rem;
	height : .65rem;

	cursor : pointer;
	transition : all .3s ease;	

	background: #00b4d8;
	border : 1px solid #fff;

	border-radius : 50%;
}

.point a:hover
{
	width : .85rem;
	height : .85rem;
	
	background: #f4f4f4;
	border : 2px solid #00b4d8;
}

.main
{
	display : flex;
	align-items : center;
	flex : 1;
	flex-direction : column;
	justify-content : space-evenly;

	width : 100%;
	height : 100%;

	margin : 1rem 0;
	padding : 0;
}

.top-clock
{
	font-family : 'Tulpen One', cursive;
	line-height : 1.5;

	display : flex;
	align-items : center;
	flex-direction: column;
	justify-content : center;

	width : 80%;	
}

#time
{
	font-size : 2.25rem;
	letter-spacing : .2rem;

	color : #79cada;
}

#day
{
	font-size : 1.25rem;

	letter-spacing : .4rem;
	text-transform : uppercase;

	color : #bfbc8a;
}

.cover-img
{
	position : relative;

	display : flex;

	width : 10.625rem;
	height : 10.625rem;

	animation : stretch 1.5s ease-in-out;

	border : 2px solid #f8f8f8;
	border-radius : 50%;

	background : #f4f4f4;
}

@keyframes stretch { 0% { transform : scale(.7) } 100% { transform : scale(1) } }

.album-img
{
	position : absolute;
	z-index : 600;
	top : 0;
	left : 0;

	width : 100%;
	height : 100%;

	border-radius : 50%;
	background-size : cover;
	box-shadow : 1px 1px 0 1px #fff;
}

#spinner { animation : spin-dance 4s linear 0s 4; animation-play-state : paused; }

@keyframes spin-dance { 0% { transform : rotateZ(0) } 25% { transform : rotateZ(30deg) } 50% { transform : rotateZ(270deg) } 75% { transform : rotateZ(180deg) } 100% { transform : rotateZ(360deg) } ; }

.progress
{
	display : flex;
	align-items : center;
	flex-flow : column wrap;

	width : 100%;

	user-select : none;
	pointer-events : none;
}

.album-info
{
	display : flex;
	flex-direction : column;

	line-height : 1.8;

	user-select : none;
	text-align : center;
	pointer-events : none;
}

.name
{
	font-size : .875rem;
	font-variant : small-caps;

	color : #00b4d8;
}

.artist
{
	font-size : .8125rem;
	text-transform : uppercase;

	color : #bfbc8a;
}

.progress_bar
{
	position : relative;
	z-index : 800;

	display : inline-block;
	overflow : hidden;

	width : 80%;
	height : 4px;

	margin-top: 2rem;
	padding : 0;

	user-select : none;
	pointer-events : none;

	background : #f1f1f1;
	box-shadow : inset 1px 1px 0 #cecece, 1px 1px 0 #fff;
}

.line
{
	position : absolute;
	z-index : 900;

	width : 0;
	height : inherit;

	background : #00b4d8;
	box-shadow : none;
}

.player-controls
{
	z-index : 999;

	display : flex;
	align-items : center;
	flex-flow : row nowrap;
	justify-content : center;

	width : 100%;
}

.pn-icon
{
	display : flex;
	align-items : center;
	justify-content : center;

	width : 3.25rem;
	height : 3.25rem;

	margin : 0;
	padding : 0;

	cursor : pointer;

	outline : none;
}

.pn-icon svg
{
	display : flex; 

	width : 1.375rem;
	height : 1.375rem;

	cursor : pointer;
	transition : all .3s ease;

	color : #41b3cb;

	fill : currentColor;
	stroke : currentColor;
	stroke-width : 0;
}

.pn-icon svg:hover
{
	width : 2.875rem;
	height : 2.875rem;

	padding : .875rem;

	color : #737c7b;

	border-radius : 50%;

	background : #f4f4f4;
	box-shadow : inset -3px -3px 7px #fff, inset 2px 2px 6px #d0d0d0;
}

.xl-icon
{
	display : flex;
	align-items : center;
	justify-content : center;

	width : 4rem;
	height : 4rem;

	margin : 0 .75rem;
	padding : 0;

	cursor : pointer;

	border-radius : 50%;
	outline : none;

	background : #41b3cb;
	/* background : #f1f1f1; */
	box-shadow : -2px -2px 5px #fff, 2px 2px 5px #d0d0d0;
}

.xl-icon svg
{
	display : flex;

	width : 2rem;
	height : 2rem;

	cursor : pointer;
	transition : all .3s ease;

	color : #f1f1f1;
	/* color : #41b3cb; */

	fill : currentColor;
	stroke : currentColor;
	stroke-width : 0;
}

.xl-icon:hover
{	
	background : #f4f4f4;
	box-shadow : inset -3px -3px 7px #fff, inset 3px 3px 5px #d0d0d0; 
}

.xl-icon svg:hover
{
	width : 1.75rem;
	height : 1.75rem;

	color : #737c7b;	
}

.bottom-color
{
	display : flex;
	align-items : flex-end;
	flex-flow : row nowrap;

	width : 100%;
	height : 3.125rem;

	margin : 0;
	padding : 0;

	border-bottom-right-radius : 40px;
	border-bottom-left-radius : 40px;

	background : #f4f4f4;
}

.bottom-label
{
	font-size : .8125rem;
	font-variant : small-caps;

	display : flex;
	align-items : center;
	justify-content : center;

	width : 80%;
	height : 3.125rem;

	margin : auto;

	user-select : none;
	letter-spacing : 2px;
	pointer-events : none;

	color : #bfbc8a;
}

.time
{
	margin : 0 .375rem;
}

.time-label svg
{
	display : flex;

	width : 1.25rem;
	height : 1.25rem;

	cursor : pointer;
	transition : all .3s ease;

	fill : currentColor;
	stroke : currentColor;
	stroke-width : 0;
}

.time-radio
{
	font-size : .75rem;

	display : flex;
	display : none;

	margin-top : .1875rem;

	color : #79cada;
}

/* cover effect */
.scale-out-enter-active { transition : all .35s ease-in-out; }
.scale-out-leave-active { transition : all .35s ease-in-out; }
.scale-out-enter { transform : scale(.55); pointer-events : none; opacity : 0; }
.scale-out-leave-to { transform : scale(1.2); pointer-events : none; opacity : 0; }
.scale-in-enter-active { transition : all .35s ease-in-out; }
.scale-in-leave-active { transition : all .35s ease-in-out; }
.scale-in-enter { transform : scale(1.2); pointer-events : none; opacity : 0; }
.scale-in-leave-to { transform : scale(.55); pointer-events : none; opacity : 0; }

/* loader */

.loader
{
	position : absolute;
	z-index : 9999;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;

	display : flex;
	align-items : center;
	justify-content : center;

	margin : auto;

	background : #f1f1f1;
}

.loader svg
{
	position : absolute;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;

	width : 70px;
	height : 70px;

	margin : auto;
}

.loader svg polygon { animation : dash 2.5s cubic-bezier(.35, .04, .63, .95) infinite; stroke-dasharray : 17; }

@keyframes dash { to { stroke-dashoffset : 136; } }

/*   Responsive mobile screen max 340px	  */

@media ( max-width: 21.25rem )
{

.cover-img
{
	width : 8.75rem;
	height : 8.75rem;
}

}

/* Responsive mobile screen max height 675px   */

@media ( max-height : 42.1875rem )
{

.player
{
	background-image : none;
}

.player-controls
{
	margin : 0;
}

}

/*  Responsive mobile screen max 840px   */

@media ( max-width: 52.5rem )
{

.player
{
	width : 100%;
	height : 100%;

	margin : 0;
	padding : 0;

	border-radius : 0;
	box-shadow : none;
}

}

/*  Responsive desktop screen min 2000px   */

@media ( min-width: 125rem )
{

.player
{
	width : 25rem;
	height : 51.5rem;  
}

.cover-img
{    
    width : 12.5rem;
	height : 12.5rem;  
}

.xl-icon
{
	width : 4.375rem;
	height : 4.375rem;	
}

.xl-icon svg
{
	width : 2.5rem;
	height : 2.5rem;
}

}