/* css reset | yojeero */
*,::after,::before{box-sizing:border-box}*{margin:0}body,html{height:100%}body{line-height:1.5;min-height:100vh}canvas,img,picture,svg,video{display:block;max-width:100%}h1,h2,h3,h4,h5,h6,p{overflow-wrap:break-word}button,input,select,textarea{font:inherit}ol[role=list],ul[role=list]{list-style:none}

/* main  */

    body
{ 
    font-family: 'Poppins','Segoe UI','Helvetica Neue', system-ui;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    
    transition: all .5s ease-in-out;    
    transition: color 1s 
}

	.container
{
    z-index: 1;

    display: flex;

    width: 100%;
    height: 100%;

    background: url(../img/paint.svg) no-repeat center, #ecf0f3;
    background-size: 900px auto, 100%;     

    align-items: center;
    justify-content: center
}

	.player
{
    z-index: 999;

    display: flex;
    flex-direction: column;

    width: 330px;
    height: 680px;

    margin: 0;
    padding: 0;

    opacity: .99;

    transition: all .5s ease-in-out;

    border: 1px solid #eff2f5;
    border-radius: 10px;
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px #c2cfd9
}

    .player:hover
{  
    box-shadow: -7px -7px 20px 0 #fff, 7px 7px 20px 0 #c2cfd9
} 

    .top-color
{
    display: flex;

    width: 100%;
    height: 45px;

    margin: 0;
    padding: 0;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background: #eff2f5;

    flex-flow: row nowrap;
    align-items: flex-start
}

	.top-icon
{
    display: flex;

    width: 80%;
    height: 2.8125rem;

    margin: auto;

    color: #adbecc;

    align-items: center;
    justify-content: space-between
}

	.speaker
{
    display: flex;

    width: 58px;
    height: 6px;

    margin: auto;

    border-radius: 20px;

    background: #f4f7f8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2) , 1px 1px 1px #fff;

    align-items: center;
    justify-content: center
}

	.fav svg
{
    display: flex;

    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;
    transition: all .3s ease;

    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0
}

    .fav-link a,
    .fav-link a svg
{
    display: flex;

    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;
    transition: all .3s ease;

    color: #adbecc;

    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0
}

    .fav svg:hover, .fav-link svg:hover { color: #2ecc71 }

    .fav.active { color: #6e8da4 }

    .top-label
{
    font-size: .8rem;

    display: flex;

    width: 100%;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #839db1;

    align-items: center;
    justify-content: center
}

    .main
{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    align-items: center;
    justify-content: center;
    flex: 1
}

	.time-radio
{
    font-size: .875rem;
    font-weight: 300;

    display: none;

    width: 100%;

    text-align: center;

    color: #adbecc
}

    .cover-img
{
    position: relative;

    display: flex;

    width: 170px;
    height: 170px;

    margin: 2.4rem 0;

    animation: stretch 1.5s ease-in-out;

    align-items: center
}

	@keyframes stretch { 0% {transform: scale(.7) } 100% {transform: scale(1) } }

	.album-img
{
    position: absolute;
    z-index: 600 ;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%; 

    border: 4px solid #f0f3f6;    
    border-radius: 50%;   
    background-size: cover
}

	#spinner { animation: spin-dance 4s linear 0s 4; animation-play-state: paused }

	@keyframes spin-dance{ 0% {transform: rotateZ(0) } 25% {transform: rotateZ(30deg) } 50% {transform: rotateZ(270deg) } 75% {transform: rotateZ(180deg) } 100% {transform: rotateZ(360deg) } }

    .progress
{
    display: flex;

    width: 100%;

    user-select: none;
    pointer-events: none;

    flex-flow: column wrap;
    align-items: center
}

	.album-info
{
    display: flex;
    flex-direction: column;

    user-select: none;
    text-align: center;
    pointer-events: none;

    color: #839db1
}

	.album-track
{
    font-size: .875rem;
    letter-spacing: 1px;   

    margin: 0
}

	.album-name
{    
    font-size: .6875rem;
    letter-spacing: 1px; 

    margin-top: 5px
}

	.progress_bar
{
    position: relative;
    z-index: 800;

    display: inline-block;
    overflow: hidden;

    width: 80%;
    height: 4px;

    margin: 2rem 0;
    padding: 0;

    user-select: none;
    pointer-events: none;

    background: #eff2f5;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2) , 1px 1px 1px #fff
}

    .line
{
    position: absolute;
    z-index: 900;

    width: 0;
    height: inherit;

    background: #2ecc71;

    box-shadow: none
}

    .player-controls
{
    z-index: 999;

    display: flex;

    width: 100%;
    margin: 1.5rem 0 0;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center
}

	.pn-icon { outline: none }

	.pn-icon svg
{
    display: flex;

    width: 1.8rem;
    height: 1.8rem;

    cursor: pointer;
    transition: all .3s ease;

    color: #adbecc;

    justify-content: center;
    align-items: center;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0
}

	.pn-icon svg:hover
{
    color: #2ecc71;   

    width: 2.875rem;
    height: 2.875rem;

    padding: .5rem;

    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px #ceced1
}

    .xl-icon
{
    display: flex;

    width: 4rem;
    height: 4rem;

    margin: 0 1.5rem;
    padding: 0;

    cursor: pointer;
    transition: all .2s ease-in-out;

    border-radius: 50%;
    outline: none;
    background: #2ecc71;
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #c0c0c0;

    justify-content: center;
    align-items: center
}

	.xl-icon svg
{
    display: flex;

    width: 2.2rem;
    height: 2.2rem;

    cursor: pointer;

    color: #f2f1f2;

    justify-content: center;
    align-items: center;

    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0
}

    .xl-icon:hover
{
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: inset -3px -3px 7px #fff, inset 3px 3px 5px #ceced1
}

    .xl-icon svg:hover
{
    color: #2ecc71   
}

	.scale-out-enter-active {transition: all .35s ease-in-out }
    .scale-out-leave-active {transition: all .35s ease-in-out }
    .scale-out-enter {transform: scale(.55); pointer-events: none; opacity: 0 }
    .scale-out-leave-to {transform: scale(1.2); pointer-events: none; opacity: 0 }
    .scale-in-enter-active {transition: all .35s ease-in-out }
    .scale-in-leave-active {transition: all .35s ease-in-out }
    .scale-in-enter {transform: scale(1.2); pointer-events: none; opacity: 0 }
    .scale-in-leave-to {transform: scale(.55); pointer-events: none; opacity: 0 }

	.bottom-color
{
    display: flex;

    width: 100%;
    height: 45px;

    margin: 0;
    padding: 0;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    background: #eff2f5;

    flex-flow: row nowrap;
    align-items: flex-end
}

	.bottom-label
{
    font-size: .8125rem;
    font-weight: 300; 

    display: flex;

    width: 100%;
    height: 45px;

    margin: 0;

    user-select: none;
    letter-spacing: 1px;
    font-variant: small-caps;
    pointer-events: none;

    color: #adbecc;

    align-items: center;
    justify-content: center
}

	/* loader */

	.loader
{
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    margin: auto;

    background: #fafafa;

    align-items: center;
    justify-content: center
}

    .loader svg
{
    position: relative;

    display: flex;

    width: 80px;
    height: 80px;

    color: #2ecc71;

    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0
}

/*   Responsive mobile screen max 340px	  */

    @media (max-width: 21.25rem) 

{

	.cover-img
{
    width: 140px;
    height: 140px
}

}

/* Responsive mobile screen max height 675px   */

	@media (max-height: 42.1875rem) 

{

    .player { background-image: none } 

    .player-controls { margin: 0 } 

}

/*  Responsive mobile screen max 840px   */

	@media ( max-width: 52.5rem )

{

.player
{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;

    border-radius: 0;

    box-shadow: none
}


}
